php:
	date.timezone: Europe/Prague

extensions:
	fakeSession: Kdyby\FakeSession\DI\FakeSessionExtension

fakeSession:
	enabled: yes

http:
	frames: null

services:
	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage

session:
	autoStart: false
